{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Triage creation
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <input type="submit" value="Create" />
                            {{ form_end(form) }}

                            <ul>
                                <li>
                                    <a href="{{ path('triage_index') }}">Back to the list</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
